<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
</head>

<body class="checkout-container">
  <%- include('partials/_header') %>
    <h1>Welcome to the checkout page</h1>

    <div class="order-form">

      <form action="#" method="POST">

        <h6>Customer Name</h6>
         <input id="customer_name" class="form-control" type="text" name="Customer Name" placeholder="Please enter your name" style="width: 200px">
         <br>
        <h6>Contact Number</h6>
         <input id="phone_number" class="form-control" type="phone" name="Contact" pattern="[0-9]{10}"
         required placeholder="Please enter your contact number" style="width: 200px">
         <small>Format: 1234567890</small>
         <br>
         <br>
         <h6>E-mail:</h6>
         <input id="email" class="form-control" type="text" name="email" placeholder="Please enter your E-mail" style="width: 200px">
        <br>
        <h6>Special Instructions</h6>

         <input id="special_instructions" class="form-control" type="text" name="email" placeholder="Any Special Instructions?" style="width: 200px">
        <br>

      <button type="submit" >Confirm Order</button>

      </form>

    </div>

    <div class="order-summary">

      <div class="item-summary">

        <div id="img-title-container">

          <img id="checkout-img" src="" alt="food image">
          <h3 class="item-title">food item</h3>

        </div>

        <div id="desc-qty-container">

          <p class="item-description">aqwertyuiopsdfghj</p>
          <h6 class="item-qty">100</h6>

        </div>

      </div>


      <div class="price-total">

        <h5 id="checkout-msg">hello sos and so</h5>
        <h3 id="order-total">4345y.</h3>


      </div>

    </div>

</body>

</html>